body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}

html, body{
    overflow:hidden;
}
#parent {
    overflow: hidden;
}
#child {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: -15px;
    overflow: auto;
    overflow-x: hidden;
}
#container {
    display: none;
}

#welcome-page {
    height:100vh; 
    width: 100vw;
    background-color: red; 

}

#header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
    display: none;
  }
  
  #progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  
  .progress-bar {
    height: 8px;
    background: #04AA6D;
    width: 0%;
  }
  
  #content {
    padding: 100px 0;
    margin: 50px auto 0 auto;
    width: 80%;
  }
  
  /* welcome page*/

body {
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#parallax, .layer, .some-space, #some-more-space {
  height: 100%;
  position: absolute;
  width: 100%;
}

#particles-js {
  opacity: 0.6;
}

#h5 {
    text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 0.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

#some-more-space a {
  color: white;
  border: 1px solid white;
  display: table;
  position: absolute;
  top: 60%;
  left: 50%;
  letter-spacing: 0.05em;
  transform: translate3d(-50%, -50%, 0);
  text-decoration: none;
  transition: all 200ms ease;
  padding: 10px 15px;
  border-radius: 50%;
}
#some-more-space a:hover {
  background: white;
  color: black;
  cursor: pointer;
}

.some-space {
  animation: rotate 18s 0.5s infinite linear reverse;
}

#some-more-space {
  -webkit-animation: rotate 15s 0.1s infinite linear;
          animation: rotate 15s 0.1s infinite linear;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg);
  }
}